.row {
    float: none;
}

#emptyPlayerCol{
    /*width: 33%;*/
}

#player1Info, #player2Info{
    height: 250px;
    width: 100%;
    border: 1px solid black;

}
#player1Choice, #player2Choice {
    width: 100%;
    height: 230px;
}

#player1Choice img {
    width: 70%;
}

#player2Choice img {
    width: 70%;
}

#moveSelectRow {
    margin :5% 0;
}


#rock, #paper, #scissors {
    height: 75px;
    width: 75px;
    margin: 0 10px;
}

#rock img {
    height: 75px;
    width: 75px;
}

#paper img {
    height: 75px;
    width: 75px;
}

#scissors img{
    height: 75px;
    width: 75px;
}

#chatDisplay {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}
